*{
    margin: 0 auto
}

.plan{
    width: 500px;
    height: 200px;
    background-color: darkgray;
    line-height: 50px;
    
}
.intend{
    width: 500px;
    height: 50px;
    background-color: azure;
 
}

.delete{
    color: red;
}